# === API ===
fastapi==0.115.12
uvicorn[standard]==0.34.0
sqlalchemy[asyncio]==2.0.40
asyncpg==0.30.0
alembic==1.15.2
pydantic==2.11.4
pydantic-settings==2.9.1
python-jose[cryptography]==3.5.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.20
httpx==0.28.1
loguru==0.7.3
aiofiles==24.1.0
imagehash==4.3.2
Pillow==11.2.1

# === Bot ===
aiogram==3.20.0

# === Scheduler ===
apscheduler==3.11.0

# === Redis ===
redis[hiredis]==5.2.1
